{% extends 'emails/base_letter.html' %}

{% block aditional_content %}

     <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#bfbfbf"
           style="background-color: #bfbfbf;" id="ko_sideArticleBlock_4">
        <tbody>
        <tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#bfbfbf"
                style="padding-left: 9px;padding-right: 9px;background-color: #bfbfbf;">
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="9" class="vb-row fullpad"
                           bgcolor="#ffffff"
                           style="border-collapse: separate;border-spacing: 9px;width: 100%;max-width: 570px;background-color: #fff;">
                        <tbody>
                        <tr>
                            <td align="center" class="mobile-row" valign="top" style="font-size: 0;">
                                <div class="mobile-full"
                                     style="display: inline-block; max-width: 414px; vertical-align: top; width: 100%;">
                                    <table class="vb-content" border="0" cellspacing="9" cellpadding="0" width="414"
                                           align="left" style="border-collapse: separate;width: 100%;">
                                        <tbody>
                                        <tr>
                                            <td align="left" class="long-text links-color"
                                                style="text-align: left; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;">
                                                <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;">It works! Finally! Bwahahahahahahaha</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}