{% extends 'emails/base_letter.html' %}

{% block content %}
    <tr>
        <td height="9" style="font-size: 1px; line-height: 1px;"> </td>
    </tr>
    <tr>
        <td align="left" class="long-text links-color"
            style="text-align: left; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;"><p
                style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;">{{ html_text }}</p></td>
    </tr>
    <tr>
        <td height="13" style="font-size: 1px; line-height: 1px;"> </td>
    </tr>
    <tr>
        <td valign="top">
            <table cellpadding="0" border="0" align="left" cellspacing="0"
                   class="mobile-full">
                <tbody>
                <tr>
                    <td width="auto" valign="middle" bgcolor="#bfbfbf" align="center"
                        height="26"
                        style="font-size: 13px; font-family: Arial, Helvetica, sans-serif; text-align: center; color: #3f3f3f; font-weight: normal; padding-left: 18px; padding-right: 18px; background-color: #bfbfbf; border-radius: 4px;">
                        <a style="text-decoration: none; color: #3f3f3f; font-weight: normal;"
                           target="_new" href="http://0.0.0.0:8000">Login here, Luke!</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}